#footer
  .container
    .row-fluid
      .span12
        %p.pull-left
        %p.pull-right
          Made with 
          %span{class: :heart}
            ♥
          by 
          %a{href: "http://swanson.github.com"}
            Matt Swanson