.span4
  - if user
    %h2{class: :column_title}= user.username
    .buddy-column
      - unless user.videos.empty?
        .featured
          - featured = user.videos.pop.url
          = render partial: :large_embed, locals: { video_id: YoutubeHelper.video_id(featured), video_url: featured}
        .others
          - user.videos.each do |video|
            = render partial: :small_embed, locals: { video_id: YoutubeHelper.video_id(video.url), video_url: video.url}
      - else
        .no-vids
          %p
            You've got no videos!
          %p
            %a{href: "/videos/new", class: "btn btn-primary"}
              Add Video
  - else
    %h2 &nbsp;
    .buddy-column
      .buddy
        .tile
          %p
            %i{class: "fui-man-24"}
          %a{href: "/buddies/new", class: "btn"}
            %i{class: "fui-plus-24"}
            Buddy